<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Carrie White</h1>
    <p>
      Carrie White is blonde-haired with brown eyes, slightly overweight, shy,
      lonely, and isolated. She is severely bullied at school. She also has
      telekinetic powers that confuse and frighten her, and fuel her mentally
      unstable religious fanatic mother`s conviction that her daughter is
      possessed by the Devil.
    </p>

    <footer>
      <a href="/views/index.html">Home</a>
      <a href="/views/works.html">Works</a>
      <a href="/views/gallery.html">Gallery</a>
    </footer>
  </body>
</html>
