<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Carries` Work</h1>
    <ol>
      <li>
        let showers of hail and rain of stones fall on the Whites` bungalow
      </li>
      <li>
        let a large mahogany dinner table fly through one of the house's windows
      </li>
      <li>
        reading other people's minds and inner thoughts when they are close
        enough
      </li>
      <li>let light bulbs explode</li>
      <li>
        let 5-year-old fly off his bicycle as if an unseen force had pushed him
      </li>
      <li>
        using her powers to knock her mother to the floor and proceeding to go
        to prom with footballer Tommy
      </li>
      <li>and so on</li>
    </ol>

    <footer>
      <a href="/views/index.html">Home</a>
      <a href="/views/about.html">About</a>
      <a href="/views/gallery.html">Gallery</a>
    </footer>
  </body>
</html>
